[diff]
    tool = vimdiff
[core]
    editor = vim
[alias]
    a = add
    stat = status
    st = status --short --branch
    ci = commit
    co = checkout
    br = branch
    brc = "!sh -c 'git branch | grep -e \"^*\" | cut -d\" \" -f2'"
    bra = branch -a
    pleas = push --force-with-lease
    changes-origin = "!sh -c 'echo \"Remote changes (origin/$(git rev-parse --abbrev-ref HEAD)):\" && git diff --stat HEAD..origin/$(git rev-parse --abbrev-ref HEAD)'"
    changes-local = "!sh -c 'echo \"Local changes ($(git rev-parse --abbrev-ref HEAD)):\" && git status --short'"
    last = log -1 HEAD
    last-tag = "!sh -c 'git describe --tags "$(git log -1 --pretty=format:"%h")"'"
    last-commit = log -1 --pretty=format:"%h" --abbrev=-1
    ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
    ls = log --pretty=format:"%C(yellow)%h\\ %C(green)%ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=short --graph
    l = "!sh -c 'git ls'"
    tree = "log --graph --abbrev-commit --decorate --all --format=format:\"%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(dim white) - %an%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n %C(white)%s%C(reset)\""
    cfg = config --list
    info = "!sh -c 'printf \"Path:\n  %s\n\" ${PWD} && printf \"Git config:\n\" && git config --list | grep "^user" | sort | uniq && printf \"Git remote:\n  \" && git remote -v | tail -n 1 | cut -f2 && echo "Git local branches:" && git branch && git status --short --branch'"
    d = difftool
    d2 = diff --no-ext-diff
    tig = "!tig --all"
    clean-objects = gc --aggressive
    r = remote -v
    backup = "!git archive --format=tar.gz -9 --verbose "
    remote-name = "!git remote show -n origin | grep Fetch | cut -d: -f2- | sed 's/^[ ]*//g'"
    init-repository = "!sh -c 'git-helper init'"
    daily = "!sh -c 'echo Update: branches list && git remote prune origin && echo Update: repository && git fetch' && echo Branch: $(git brc) && git changes-origin && git changes-local"
    cleanup-history = "!sh -c 'du -hs \"${PWD}\"; echo \"Cleanup unnecessary files and optimize the local repository\"; git reflog expire --all --expire=now; git gc --prune=now --aggressive; du -hs \"${PWD}\"; echo \"Cleanup finished\"'"
    aliases = "!sh -c 'echo \"--[ git aliases ]-----------------\" && (git config --list | grep alias | sort)'"
[http]
[credential]
    helper = cache --timeout=9999999
[difftool]
    prompt = false

[tig "bind"]
    generic = M !sh -c 'git difftool --no-prompt %(commit)'

[pack]
	windowMemory = 100m
	packSizeLimit = 100m
	threads = 1
[user]
	email = revgen@users.noreply.github.com
	name = Evgen
